{% include "header.html" %}

<body id="myBody">
<!-- LOGO -->
<div>
    <img src="{{ url_for('static', filename='images/logo.JPG') }}" id="fade_logo">
</div>

    <main>

      <div class="windows">
          {% for x in jobs %}
        <div class="job">
          <a href = "mid/{{ x['loc'] }}">
          <img class = "frame " src="{{ url_for('static', filename='images/window.png') }}">
          <img class ="underlay" src="../static/images/sparkle.jpeg">
          <p class="job">{{x["name"]}}</p>
          </a>
        </div>
        {% endfor %}
      </div>
    </main>
    <footer>
      <p>&copy; Dream Horizon. All rights reserved.</p>
    </footer>
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>
